
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Page Not Found - FaaStRuby LocalKit</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700" rel="stylesheet">
  <link href="/assets/styles" rel="stylesheet">

</head>

<body>
  <h1 class="text-center">Page Not Found</h1>
  <p class="text-center">To customize this page, edit the function 'error_pages/404'.</p>
  <!-- JavaScript -->
  <script src="/assets/js"></script>

</body>

</html>
