
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome! - FaaStRuby Local</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700" rel="stylesheet">
  <link href="/assets/stylesheets/main.css" rel="stylesheet">

</head>

<body>
  <header class="header">
    <div class="logo-image-div">
      <img src="/assets/images/ruby.png" class="logo-image">
    </div>
    <div class="logo-name-div">
      <h1 class="logo-name">FaaStRuby</h1>
    </div>
  </header>
  <div class="content">
    <div class="content-left">
      <h1 class="text-left"><%= @greeting %></h1>
      <h3 class="paragraph">If that's your first time developing applications with FaaStRuby Local, check out the video tutorial on the right to get started.</h3>
      <p class="text-left">To customize this page, edit the function 'root'.</p>
    </div>
    <div class="content-right">
      <div style="background: #555555; width: 480px; height: 300px">
      </div>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="/assets/javascripts/main.js"></script>
</body>

</html>
